{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as util %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css">
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
<link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
<style>
body
{
	background-image:url('/static/1.jpg');
	background-repeat:no-repeat;
	background-position: bottom;
	margin-bottom:480px;
}
</style>
{% endblock %}

{% block title %}Index{% endblock %}

{% block content %}
{{util.flashed_messages(dismissible=True)}}
<div class="container-fluid">
    <div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">Basics-MedKB</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/"><i class="fa fa-home fa-lg"></i>  Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/"><i class="fa fa-user-circle fa-lg"></i>  {{ username }}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href={{ url_for('add')}}><i class="fa fa-plus-circle fa-lg"></i>  Add</a></li>
            </ul>
        </div>
    </div>
    </div>

	<div class="row">
		<div class="col-md-3">
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<h1 class="text-info text-center">
                Advanced search
				<br/>
				<br/>
			</h1>
{#			{{ wtf.quick_form(form) }}#}
    <center>
    <form action="{{ url_for('advsearch')}}" class="form-inline" method="post">
        <div class="input-group margin-bottom-sm">
        <span type="input-group-addon" class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
        <div class="form-group">
        <input type="text" class="form-control" placeholder="node1" name="text1" id="text1">
        <input type="text" class="form-control" placeholder="node2" name="text2" id="text2">
        </div>

        <input type="submit" class="btn btn-primary form-control-static" value="Go!">
		</div>
    </form>
    </center>
    </div>

        <div class="col-md-3">
        </div>
</div>
{% endblock %}

